#vehicle-table {
    width: 600px;
    margin: auto;
}

#vehicle-info-table {
    /* width: 1500px; */
    margin: auto;
}

#buttons {
    margin: auto;
}

#thead-dark {
    border-bottom: 4px solid rgb(0, 0, 0);
}

h2 {
    font-weight: 400;
    font-size: 40px;
    text-align: center;
}

button {
    margin: auto;
}


/* Styling modal */


/* .modal:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
} */

.modal-dialog {
    display: inline-block;
    vertical-align: middle;
}